<h1 class="text-3xl font-bold mb-6 text-gray-800">Obsidian Inbox Files</h1>

<ul class="list-disc pl-6 space-y-2">
  <li class="text-lg bg-white p-3 rounded-lg shadow-sm hover:bg-gray-50 transition duration-200 ease-in-out">
    <%= link_to "Go to Work Journal", obsidian_work_journal_path, class: "text-blue-600 hover:underline font-medium" %>
  </li>
  <li class="text-lg bg-white p-3 rounded-lg shadow-sm hover:bg-gray-50 transition duration-200 ease-in-out">
    <%= link_to "Go to Work Inbox", obsidian_work_path, class: "text-blue-600 hover:underline font-medium" %>
  </li>
</ul>

<ul class="list-disc pl-6 space-y-2">
  <% @files.each do |file| %>
    <li class="text-lg text-gray-700 bg-white p-3 rounded-lg shadow-sm hover:bg-gray-50 transition duration-200 ease-in-out">
      <%= file %>
    </li>
  <% end %>
</ul>
